modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/catatan-ritase-dt: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/catatan-ritase-dt"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/catatan-ritase-dt run dev"
cwd = "./artifacts/catatan-ritase-dt"
waitForPort = 21659
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "21659"
BASE_PATH = "/"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = ""

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
